<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!--検索機能-->
    <div class='container mt-1'>
  	  <div class='row'>
    	  <div class='mx-auto'>
    	    <% if user_signed_in? %>
    		    <%= form_with url: search_path, local: true, method: :get do |f| %>
    		      <%= f.text_field :keyword %> <!--:keywordとを検索するワードに名前をつける-->
    		      <%= f.select :range, options_for_select([['User'],['Book']]) %>
    		      <%= f.select :search, options_for_select([['完全一致', 'perfect_match'],['前方一致', 'front_match'],['後方一致', 'back_match'],['部分一致', 'partial_match']]) %>
    		      <%= f.submit "検索" %>
    		    <% end %>
    		  <% end %>
    	  </div>
      </div>
    </div>
    <main>
      <p id="notice"><%= notice %></p>
    </main>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
